body{
	background-image: url(../images/sea.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;

}
#wrapper{
	box-sizing: border-box;
	width:480px;
	margin:240px auto;
	background-color: #fff;
	padding: 50px 37px 35px;
}
h2, h4{
	color:#263555;
}
h2{
	margin:30px auto;
}
img{
	width:405px;
}
.left{
	display:inline-block;
	margin-right: -4px;
	width:50%;
	vertical-align: top;
}
.right{
	display:inline-block;
	width:50%;
	vertical-align: top;
}
ul{
	list-style-type: none;
}
