*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body{
	background-image: url(../images/bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	font-family: "Pathway Gothic One", sans-serif;
	font-size: 16px;
	
}

.wrapper{
	width:1024px;
	margin:20px auto;
	
}

/*Header*/
.header{
	padding-top:50px;
	padding-bottom: 50px;
	text-align: center;
}
nav{
	position: relative;
}

.menu{
list-style-type: none;
display: inline-block;
}
.menu-item{
	float:left;
	margin-right:56px;
}
.menu-item a{
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 28px;
	color:#fff;
	text-decoration: none;
	line-height:140px;
	
}
.menu-item a:hover{
color:#263555;	
}
.menu-item:last-child{
margin-right: 0px;
}
.logo a{
	display:inline-block;
	width:140px;
	text-align: center;
	font-size: 59.6px;
	font-family: "Dorsa", sans-serif;
	border-radius:50%;
	background-color: #fff;
	color: #263555;

}
.submenu{
display:none;
position: relative;
list-style-type: none;
background-color: #fff;
padding:8px;
border-radius:5px;

}

.menu-item:hover>.submenu{
display: block;
position: absolute;
left:185px;
top: 90px;

	

}
.submenu-item a{
display: inline-block;
text-transform: uppercase;
font-size: 20px;
font-family: "Pathway Gothic One", sans-serif;
color: #263555;
text-decoration: none;
width:70px;
line-height: 20px;
}
.submenu::before{
	position: absolute;
	top:-3px;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 2.5px 3px 2.5px;
    border-color: transparent transparent #fff transparent;
}


.left:hover, .right:hover{
	background-color: #263555;
	
}

.content{
	padding:60px;
	background-color: #fff;
	padding-bottom: 110px;
}
.content::after{
	position:fixed;
	content:'\02C4';
	width: 30px;
	height: 30px;
	padding:5px;
	border-radius: 50%;
	background-color: #38afe5;
	text-align: center;
	vertical-align: middle;
	right:180px;
	bottom: 20px;
	font-size: 26px;
	color: #fff;
}

.gallery-title{
	text-transform: uppercase;
	padding-top: 30px;
	padding-bottom: 40px;
	font-size: 32px;
	font-family: "Pathway Gothic One", sans-serif;	
	color: #263555;
	font-weight: 300;
}

.slider{
	display:flex;
	min-height: 540px;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
}

.figure img{
	width: 100%;
}
.figure{
	position: relative;
}
.figure::before{
	display:block;
	position: absolute;
	content: '';
	background-color: rgba(0,0,0,0);
	width:100%;
	height: calc(100% - 4px);
}
.figure:hover::before{
	background-image: url(../images/cursor.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: rgba(0,0,0,0.5);
}
footer{
	background-color: #30455b;
	height: 130px;	
	
	
	
}

.footer-item{
	width:25%;
}
.footer-item a{
	font-family: 'Open Sans Condensed', sans-serif;
	color:#fff;	
	text-decoration: none;
	text-transform: uppercase;
}
.footer-item span{
	text-transform: none;
	font-size: 12px;
	font-family: Arial,sans-serif;
}

.footer-item a:nth-child(4){
	font-size: 18px;
}
.list{
	display:flex;	
	flex-wrap:wrap;
	align-content: center;
	align-items: center;
	background-color: #30455b;
	height: 130px;	
	padding-left: 150px;
	width:90%;
}
.footer-item{
	list-style-type: none;
	line-height: 1.2;
}

.footer-item a .phone{
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.bg-fb {
    width: 40px; height: 40px;
    background: url('../images/css_sprites.png') -10px -10px;
}

.bg-google {
    width: 40px; height: 40px;
    background: url('../images/css_sprites.png') -70px -10px;
}

.bg-link {
    width: 40px; height: 40px;
    background: url('../images/css_sprites.png') -10px -70px;
}

.bg-tw {
    width: 40px; height: 40px;
    background: url('../images/css_sprites.png') -70px -70px;
}
.icons{
	display:flex;
	justify-content: center;
	height:40px;
	margin:20px auto;
}
.icon-item{
	margin-right:12px;
}

.icon-item:hover{
	transform: rotateY(360deg);
	transition: all 2s ease-out;
}
.icon-item:last-child{
	margin-right:0px;
}
.copyright{
	color:#fff;
	font-size: 12px;
	font-family: Arial,sans-serif;
	text-align: center;
}