
@media (min-width: 769px){
	.wrapper{
		
		align-items: center
	}

.header{
	padding-left:60px;
	padding-right: 60px;
}
.menu-item:nth-child(4) a{
	font-size: 59.58px;
}

.menu{
	flex-wrap: nowrap;
	width:100%;
	justify-content: space-between;
	align-items: center;
	margin-top: 0;
}

.menu-item a{
	font-size:28px;
}

.submenu-item a{
	font-size:20px;
}
.menu-item:nth-child(4){
	 position: relative;
  display: inline-block;
	width: 38.2%;
	top:0px;
	padding: 35px 20px;
  
}
.menu-item:nth-child(1){
	margin-bottom: 0px;
}
.figure{
		flex-basis: 32.5%
		
	}
	.figure:last-child{
		display:none;
	}
	figure:nth-last-child(-n+3){
		margin-bottom: 0;
	}
	.figure:last-child{
		display:block;
	}
}