@charset "UTF-8";

@font-face {
  font-family: 'Acrom-Bold';
  src: url("../fonts/Acrom-Bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Acrom-ExtraBold';
  src: url("../fonts/Acrom-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: extrabold;
}

@font-face {
  font-family: 'Acrom-Regular';
  src: url("../fonts/Acrom-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Acrom-Medium';
  src: url("../fonts/Acrom-Medium.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'MinionPro-Regular';
  src: url("../fonts/MinionPro-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

.orange-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orange-box__btn {
  display: block;
  padding: 14px 17px;
}

.orange-box .btn-box {
  padding: 30px 0px 44px 0px;
}

.orange-box__btn--orange {
  font-family: 'Acrom-ExtraBold';
  font-size: 7px;
  font-weight: 400;
  line-height: 11.86px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1.1px;
  background-color: #ff6b08;
  border: 0;
  cursor: pointer;
}

.orange-box__txt--orange {
  color: #ff6b08;
  font-family: 'MinionPro-Regular';
  font-size: 10px;
  font-weight: 500;
  line-height: 13px;
}

.orange-box__txt--orange::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  border-right: 2px solid #000;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  margin-right: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
}

.wrapper {
  min-width: 320px;
  max-width: 878px;
  margin: auto;
  padding: 0 12px;
}

.profession {
  padding-bottom: 25px;
}

.header__block {
  padding-bottom: 25px;
}

.header__block-title {
  font-family: 'Acrom-ExtraBold';
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 24%;
  margin-bottom: 12px;
  width: 80%;
}

.header__block-text {
  font-family: 'Acrom-Medium';
  font-size: 9px;
  width: 80%;
  line-height: 1.5;
  font-weight: bold;
  position: relative;
  padding-left: 23.6%;
}

.header__block-text {
  font-family: 'Acrom-Medium';
  font-size: 9px;
  font-weight: 500;
  line-height: 13px;
}

.header__block-text::before {
  content: '';
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 33px;
  width: 10px;
  height: 6px;
  border-bottom: 2px solid #000;
  padding: 0 3px;
}

.image {
  text-align: center;
  padding-bottom: 25px;
}

.image-center {
  padding-left: 10.5%;
  padding-right: 10.5%;
}

.only-now {
  padding-bottom: 30px;
}

.only-now__block {
  padding-bottom: 30px;
}

.hidden-img {
  display: none;
}

.image__img {
  width: 100%;
  height: auto;
  background-size: cover;
}

.subtitle__block-title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: 'Acrom-ExtraBold';
  font-size: 9px;
  width: 80%;
  padding-left: 23.6%;
}

.subtitle__block-text {
  font-family: 'Acrom-Regular';
  font-size: 9px;
  width: 76%;
  padding-left: 23.6%;
}

.img2 {
  text-align: center;
}

.remark {
  position: relative;
  padding-left: 11%;
  margin-bottom: 15px;
}

.remark__text {
  font-family: 'Acrom-Medium';
  font-size: 9px;
  color: #ff6b08;
  font-weight: bold;
  width: 88%;
}

.remark__text::before {
  content: "";
  display: block;
  float: left;
  width: 10px;
  border-bottom: 2px solid #000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 5px;
  left: 20px;
}

.remark__text--center {
  text-align: center;
}

.remark__text--center::before {
  left: 22%;
}

.header__block-title--w {
  padding-left: 14.52%;
}

.header__block-title--white {
  color: #fff;
  font-size: 12px;
  background-color: #000;
  padding: 0 5px;
}

.header__block-text--wider {
  padding-left: 14.52%;
  line-height: 1.5;
}

.advantages {
  padding-bottom: 30px;
}

.advantages__title {
  padding-left: 8.44%;
  margin-bottom: 15px;
  font-family: 'Acrom-ExtraBold';
  font-size: 9px;
  text-transform: uppercase;
}

.advantages__list {
  list-style-type: none;
  position: relative;
  padding-left: 13.86%;
  counter-reset: list 0;
  width: 79%;
}

.item--orange {
  position: relative;
  margin-bottom: 20px;
  padding-left: 8.45%;
}

.item--orange::before {
  display: block;
  float: left;
  background-color: #ff6b08;
  color: #fff;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 9px;
  font-family: 'Acrom-Bold';
  position: absolute;
  left: -15px;
  top: 15px;
  counter-increment: list;
  content: "[ 00" counter(list) " ]";
}

.item--orange:last-child() {
  margin-bottom: 0;
}

.item__title--bold {
  font-family: 'Acrom-Bold';
  font-size: 9px;
  margin-bottom: 5px;
}

.receive__list {
  list-style-type: none;
  counter-reset: list1 0;
  width: 79%;
  padding-left: 13.86%;
  margin-bottom: 30px;
}

.list__item {
  font-family: 'Acrom-ExtraBold';
  font-size: 9px;
  position: relative;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.list__item::before {
  display: block;
  width: 25px;
  height: 35px;
  float: left;
  font-family: 'Acrom-ExtraBold';
  font-size: 10.71px;
  counter-increment: list1;
  content: "0" counter(list1) ".";
}

.list__item::after {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background-color: #16ebfe;
  position: absolute;
  top: 13px;
  left: 11px;
}

.list__item:last-child::before {
  height: 45px;
}

.list__item:last-child {
  margin-bottom: 0;
}

.list__text {
  margin-top: 5px;
  font-family: 'Acrom-Regular';
  font-size: 9px;
  text-transform: none;
}

.regular {
  font-family: 'Acrom-Regular';
  font-size: 9px;
}

.medium {
  font-family: 'Acrom-Medium';
  font-size: 9px;
}

.orange {
  color: #ff6b08;
}

.bold {
  font-family: 'Acrom-Bold';
  font-size: 9px;
}

.extra-bold {
  font-family: 'Acrom-ExtraBold';
  font-size: 9px;
}

.extra-bold-white {
  font-family: 'Acrom-ExtraBold';
  font-size: 9px;
  color: #fff;
  background-color: #000;
  text-transform: uppercase;
}

.item__txt--regular {
  font-family: 'Acrom-Regular';
  font-size: 9px;
}

.btn {
  padding-left: 14.5%;
}

.orange__btn {
  font-family: 'Acrom-ExtraBold';
  font-size: 7.21px;
  color: #fff;
  background-color: #ff6b08;
  padding: 10px 18px;
  font-weight: 400;
  line-height: 11.86px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  border: 0;
  cursor: pointer;
  margin: 25px 0;
}

.video__title {
  padding: 0;
  text-align: center;
}

.video__text {
  margin-bottom: 10px;
}

.video__item {
  margin-bottom: 20px;
  width: 91%;
}

.video__descr {
  padding: 0 12.2%;
}

.price {
  position: relative;
  padding-left: 44px;
  font-family: 'Acrom-Medium';
  font-size: 11.31px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.price::before {
  position: absolute;
  content: '1300 грн';
  color: #565559;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Acrom-ExtraBold';
  font-size: 11.31px;
  right: 79px;
  top: -10px;
}

.sale {
  width: 43%;
}

.sale__text {
  background-color: #16ebfe;
  line-height: 1.5;
}

.rate {
  font-family: 'Acrom-ExtraBold';
  font-size: 24.24px;
  width: 57%;
}

.rate__text {
  font-size: 14px;
}

@media screen and (min-width: 120) {
  .list__item::after {
    left: 22px;
  }
}

@media screen and (min-width: 480px) {
  .header__block-title {
    font-size: 18px;
  }

  .header__block-text {
    font-size: 13.5px;
  }

  .header__block-text::before {
    width: 15px;
    height: 9px;
    margin-bottom: 50px;
  }

  .subtitle__block-title {
    font-size: 13.5px;
  }

  .subtitle__block-text {
    font-size: 13.5px;
  }

  .remark__text::before {
    width: 14px;
    top: 8px;
  }

  .remark__text {
    font-size: 13.5px;
  }

  .header__block-title--white {
    font-size: 18px;
  }

  .advantages__title {
    font-size: 13.5px;
  }

  .item--orange::before {
    font-size: 13.5px;
    top: 23px;
  }

  .item__title--bold {
    font-size: 13.5px;
  }

  .list__item::before {
    font-size: 16.07px;
    width: 35px;
    height: 45px;
  }

  .list__item::after {
    width: 7px;
    height: 7px;
    top: 18px;
    left: 20px;
  }

  .list__item:last-child::before {
    height: 55px;
  }

  .list__item {
    font-size: 13.5px;
  }

  .list__text {
    font-size: 13.5px;
  }

  .extra-bold-white {
    font-size: 13.5px;
  }

  .item__txt--regular {
    font-size: 13.5px;
  }

  .orange__btn {
    font-size: 10.81px;
    padding: 20px 28px;
  }

  .price {
    padding-left: 0;
  }

  .price::before {
    font-size: 16.97px;
    right: 140px;
  }

  .sale {
    width: 35%;
    font-size: 16.97px;
  }

  .rate {
    width: 35%;
    font-size: 26px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 20px 65px;
  }

  .profession {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 90px;
  }

  .profession .header__block {
    max-width: 43%;
    margin-bottom: 0;
  }

  .profession .header__block-title {
    font-size: 1.6825rem;
    padding-left: 0;
  }

  .profession .header__block-text {
    font-size: 0.56063rem;
    padding-left: 0;
    width: 70%;
  }

  .profession .image {
    width: 28.5%;
    margin-right: 6.2%;
    margin-bottom: 0;
  }

  .profession .subtitle__block {
    width: 20%;
    margin-bottom: 0;
  }

  .header__block-text::before {
    width: 28px;
  }

  .only-now__block {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 45px;
  }

  .only-now__block .image {
    padding: 0;
    width: 50%;
    margin-bottom: 0;
  }

  .only-now__block .only-now__block-right {
    padding: 0;
    width: 50%;
  }

  .only-now__block .only-now__block-right .remark__text {
    width: 45%;
    margin-left: 20px;
  }

  .only-now__block .only-now__block-right .remark__text::before {
    left: 0px;
  }

  .only-now__block .only-now__block-right .header__block {
    width: 100%;
  }

  .only-now__block .only-now__block-right .header__block .header__block-title {
    padding: 0;
    width: 100%;
    line-height: 1.5;
  }

  .only-now__block .only-now__block-right .header__block .header__block-text {
    padding-left: 0;
    font-size: 8.97px;
    width: 66%;
  }

  .your-advant {
    display: flex;
    justify-content: flex-start;
    position: relative;
  }

  .your-advant .advantages__title {
    font-size: 13.46px;
    width: 18%;
    padding-left: 0;
  }

  .your-advant .advantages__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 32px;
  }

  .your-advant .advantages__list .item--orange {
    width: 33%;
  }

  .your-advant .advantages__list .item--orange::before {
    font-size: 5.61px;
    top: 8px;
    left: 15px;
  }

  .your-advant .advantages__list .item__title--bold {
    font-size: 8.97px;
  }

  .your-advant .advantages__list .item__txt--regular {
    font-size: 7.85px;
  }

  .what-you-get {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 75px;
  }

  .what-you-get .header__block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    position: relative;
    margin-bottom: 0;
  }

  .what-you-get .header__block-title {
    font-size: 26.92px;
    padding: 0;
  }

  .what-you-get .receive__list {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .what-you-get .receive__list .list__item {
    font-size: 8.97px;
    width: 50%;
  }

  .what-you-get .receive__list .list__item .list__text {
    font-size: 7.85px;
  }

  .what-you-get .hidden-img {
    display: block;
    width: 40%;
  }

  .what-you-get .remark {
    position: absolute;
    bottom: 30px;
    right: 53px;
  }

  .what-you-get .remark .btn {
    padding-left: 20px;
  }

  .what-you-get .remark__text {
    font-size: 8.97px;
    width: 60%;
    text-align: left;
    padding-left: 20px;
  }

  .what-you-get .remark__text::before {
    width: 18px;
    top: 8px;
    left: -9px;
  }

  .what-you-get .orange__btn {
    font-size: 6.73px;
    padding: 10px 17px;
    margin: 10px 0 0 0;
  }

  .video {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;
  }

  .video .header__block {
    width: 50%;
    order: 2;
    margin-bottom: 0;
    padding-left: 50px;
  }

  .video .header__block-title {
    font-size: 26.92px;
    padding: 0;
    margin-bottom: 15px;
  }

  .video .header__block-text {
    font-size: 8.97px;
    padding: 0;
    width: 67%;
  }

  .video .image {
    width: 275px;
    order: 1;
    margin-bottom: 30px;
  }

  .video .video__descr {
    padding: 0;
    width: 50%;
    margin-right: 50px;
    order: 3;
  }

  .video .video__item {
    display: flex;
    width: 100%;
  }

  .video .hidden-img {
    display: block;
    width: 224px;
    order: 4;
  }

  .video .video__text {
    font-size: 8.97px;
    margin-bottom: 0;
    line-height: 1.5;
  }

  .video .item__txt--regular {
    font-size: 7.85px;
    line-height: 1.5;
    width: 96%;
  }

  .subtitle__block-title {
    font-size: 8.97px;
    padding-left: 0;
  }

  .subtitle__block-text {
    font-size: 7.85px;
    padding-left: 0;
  }

  .remark {
    padding-left: 0;
  }

  .remark__text {
    font-size: 8.97px;
  }

  .header__block-title--white {
    font-size: 26.92px;
  }

  .price {
    position: absolute;
    right: -26px;
    bottom: 60px;
  }

  .price::before {
    font-size: 7.85px;
    right: 61px;
  }

  .sale {
    font-size: 7.85px;
    width: 41%;
  }

  .rate {
    font-size: 18px;
    width: 50%;
  }
}

@media (min-width: 960px) {
  .wrapper {
    padding: 0 39px;
  }
}

@media screen and (min-width: 960px) {
  .profession .header__block-title {
    font-size: 2.10312rem;
  }

  .profession .header__block-text {
    font-size: 0.70125rem;
  }

  .only-now__block .only-now__block-right {
    padding-left: 15px;
  }

  .only-now__block .only-now__block-right .header__block .header__block-text {
    font-size: 11.22px;
  }

  .your-advant .advantages__title {
    font-size: 16.82px;
  }

  .your-advant .advantages__list .item--orange::before {
    font-size: 7.01px;
  }

  .your-advant .advantages__list .item__title--bold {
    font-size: 11.22px;
  }

  .your-advant .advantages__list .item__txt--regular {
    font-size: 9.81px;
  }

  .what-you-get .header__block-title {
    font-size: 33.65px;
  }

  .what-you-get .receive__list .list__item {
    font-size: 11.22px;
  }

  .what-you-get .receive__list .list__item .list__text {
    font-size: 9.81px;
  }

  .what-you-get .remark {
    bottom: 42px;
    right: 74px;
  }

  .what-you-get .remark__text {
    font-size: 11.22px;
  }

  .what-you-get .orange__btn {
    font-size: 8.41px;
    padding: 13px 20px;
  }

  .video .header__block-title {
    font-size: 33.65px;
  }

  .video .image {
    width: 345px;
  }

  .video .header__block-text {
    font-size: 11.22px;
  }

  .video .video__text {
    font-size: 11.22px;
  }

  .video .item__txt--regular {
    font-size: 9.81px;
  }

  .video .hidden-img {
    width: 280px;
  }

  .subtitle__block-title {
    font-size: 11.22px;
  }

  .subtitle__block-text {
    font-size: 9.81px;
    width: 100%;
  }

  .remark__text {
    font-size: 11.22px;
  }

  .header__block-title--white {
    font-size: 33.65px;
  }

  .list__item::before {
    font-size: 21.03px;
    width: 45px;
  }

  .list__item::after {
    width: 10px;
    height: 10px;
    top: 25px;
    left: 25px;
  }

  .list__item:last-child::before {
    height: 65px;
  }

  .price::before {
    font-size: 9.81px;
    right: 69px;
  }

  .sale {
    font-size: 9.81px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    padding: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .profession .header__block-title {
    font-size: 1.875rem;
  }

  .profession .header__block-text {
    font-size: 0.625rem;
    width: 60%;
  }

  .only-now__block .only-now__block-right .remark__text {
    width: 40%;
    font-size: 10px;
  }

  .only-now__block .only-now__block-right .header__block .header__block-text {
    font-size: 10px;
  }

  .your-advant .advantages__title {
    font-size: 15px;
  }

  .your-advant .advantages__list .item--orange::before {
    font-size: 6.25px;
    left: 25px;
  }

  .your-advant .advantages__list .item__title--bold {
    font-size: 10px;
  }

  .your-advant .advantages__list .item__txt--regular {
    font-size: 8.75px;
  }

  .what-you-get .header__block-title {
    font-size: 30px;
  }

  .what-you-get .receive__list .list__item {
    font-size: 10px;
    width: 45%;
  }

  .what-you-get .receive__list .list__item .list__text {
    font-size: 8.75px;
  }

  .what-you-get .remark {
    bottom: 50px;
    right: 130px;
  }

  .what-you-get .remark__text {
    font-size: 10px;
  }

  .what-you-get .orange__btn {
    font-size: 7.5px;
    padding: 13px 18px;
  }

  .video .header__block-title {
    font-size: 30px;
  }

  .video .header__block-text {
    font-size: 10px;
  }

  .video .video__text {
    font-size: 10px;
  }

  .video .item__txt--regular {
    font-size: 8.75px;
  }

  .subtitle__block-title {
    font-size: 10px;
  }

  .subtitle__block-text {
    font-size: 8.75px;
  }

  .header__block-title--white {
    font-size: 30px;
  }

  .list__item::before {
    font-size: 18.75px;
    width: 45px;
  }

  .price {
    right: 8px;
    bottom: 65px;
  }

  .price::before {
    font-size: 8.75px;
    right: 69px;
  }

  .sale {
    font-size: 8.75px;
  }
}

@media screen and (min-width: 1440px) {
  .profession .header__block-title {
    font-size: 2.25rem;
  }

  .profession .header__block-text {
    font-size: 0.75rem;
  }

  .only-now__block .only-now__block-right .remark__text {
    font-size: 12px;
  }

  .only-now__block .only-now__block-right .header__block .header__block-text {
    font-size: 12px;
  }

  .your-advant .advantages__title {
    font-size: 18px;
  }

  .your-advant .advantages__list .item--orange::before {
    font-size: 7.5px;
  }

  .your-advant .advantages__list .item__title--bold {
    font-size: 12px;
  }

  .your-advant .advantages__list .item__txt--regular {
    font-size: 10.5px;
  }

  .what-you-get .header__block-title {
    font-size: 36px;
  }

  .what-you-get .receive__list .list__item {
    font-size: 12px;
  }

  .what-you-get .receive__list .list__item .list__text {
    font-size: 10.5px;
  }

  .what-you-get .remark {
    right: 120px;
  }

  .what-you-get .remark__text {
    font-size: 12px;
  }

  .what-you-get .orange__btn {
    font-size: 9px;
    padding: 13px 18px;
  }

  .video .header__block-title {
    font-size: 36px;
  }

  .video .header__block-text {
    font-size: 12px;
  }

  .video .video__text {
    font-size: 12px;
  }

  .video .item__txt--regular {
    font-size: 10.5px;
  }

  .subtitle__block-title {
    font-size: 12px;
  }

  .subtitle__block-text {
    font-size: 10.5px;
  }

  .header__block-title--white {
    font-size: 36px;
  }

  .list__item::before {
    font-size: 22.5px;
    height: 60px;
  }

  .price::before {
    font-size: 10.5px;
    right: 73px;
  }

  .sale {
    font-size: 10.5px;
  }

  .rate {
    font-size: 22.5px;
  }
}